flask
gunicorn
pandas
ta
binance
telepot
tweepy
gym
stable-baselines3
openai
requests
matplotlib
scipy
numpy
opencv-python
flask-sqlalchemy
flask-wtf
flask-login
flask-migrate

torch
torchvision
torchaudio
sklearn
seaborn
beautifulsoup4
lxml
ccxt
pytelegrambotapi
nltk
pytest
pyyaml
cryptography
python-binance
asyncio
websockets
aiohttp
jupyter
notebook
yfinance
pybit
plotly
dash
