flask
gunicorn
pandas
ta
binance
telepot
tweepy
openai
requests
matplotlib
scipy
numpy
flask-sqlalchemy
flask-wtf
flask-login
flask-migrate
seaborn
beautifulsoup4
lxml
ccxt
pytelegrambotapi
nltk
pytest
pyyaml
cryptography
python-binance
asyncio
websockets
aiohttp
